.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.immagine_locale {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}


/* Style the buttons */

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #992b0a;
    color: white;
}